.grid-cell.isVisited {
  background-color: #f1bf98;
}

.grid-cell.isPath {
  background-color: #e7741c;
}
.grid-cell.isSource {
  background-color: #138e5e;
}

.grid-cell.isTarget {
  background-color: #cc2936;
}

.grid-cell.isWall {
  background-color: #08415c;
}
